<ion-view title="Contact Us" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="contactUs-heading1" style="color:#000000;">Neon</h1>
    <div class="spacer" style="width: 300px; height: 56px;"></div>
    <div id="contactUs-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You can either call us on</p>

      <p style="color:#000000;">999 999 999 999</p>

      <p style="color:#000000;">or email us at</p>

      <p style="color:#000000;">neon@99999.999</p>
    </div>
  </ion-content>
</ion-view>