<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="home-form3" class="list">
      <label class="item item-input" id="home-input7">
        <span class="input-label">Neon Drycleaners</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="home-button-bar1" class="button-bar"></div>
    <div id="home-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Latest Offers : </p>

      <p style="color:#000000;">20% off on orders above $50.</p>

      <p style="color:#000000;">10% off on your first order.</p>

      <p style="color:#000000;">Hurry up ! Offer lasts only for few days.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <a ui-sref="menu.scheduleMyPickup" id="home-button10" style="font-weight:300;font-size:26px;" class="button button-royal  button-block">Schedule My Pickup</a>
    <a ui-sref="menu.myOrders({})" id="home-button52" style="font-weight:300;font-size:26px;" class="button button-positive  button-block">Order History</a>
  </ion-content>
</ion-view>