<ion-view title="Login" id="page5" style="background-color:#FEFEFE;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 138px;"></div>
    <button id="login-button44" ng-click="oauthLogin('google')" style="text-align:right;" class="button button-assertive  button-block icon-left ion-social-google">Login with Gmail</button>
    <button id="login-button45" ng-click="oauthLogin('facebook')" style="text-align:right;" class="button button-positive  button-block icon-left ion-social-facebook">Login with Facebook</button>
    <div class="spacer" style="width: 300px; height: 101px;"></div>
    <a ui-sref="menu.home" id="login-button51" ng-click="testAppWithoutLogin()" class="button button-dark  button-block">Proceed without login</a>
    <div id="login-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:10px;">*Signing up helps us to serve you better by pre-filling your details in the order form &amp; offering discounts from time to time.</p>
    </div>
    <div id="login-button-bar14" class="button-bar"></div>
  </ion-content>
</ion-view>