<ion-view title="My Account" id="page11">
  <ion-content padding="true" class="has-header">
    <p>
      Welcome,
      <b>Sandeep</b> !
    </p>
    <div class="spacer" style="width: 300px; height: 67px;"></div>
    <form id="myAccount-form12" class="list">
      <label class="item item-input" id="myAccount-input16">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="myAccount-input17">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="myAccount-input23">
        <span class="input-label">Phone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="myAccount-input24">
        <span class="input-label">Address</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="myAccount-toggle3">Send me offers</ion-toggle>
      <div class="spacer" style="width: 300px; height: 67px;"></div>
      <a ui-sref="menu.home" id="myAccount-button43" class="button button-positive  button-block">Save Changes</a>
    </form>
  </ion-content>
</ion-view>