<ion-view title="Select Order Type" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="selectOrderType-button-bar4" class="button-bar"></div>
    <ol id="breadcrumbs">
      <ul>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        <span class="arrow">Step 2 of 4</span>
      </ul>
    </ol>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <form id="selectOrderType-form5" class="list">
      <label class="item item-input" id="selectOrderType-input14">
        <span class="input-label">Order Type</span>
        <input type="text" placeholder="">
      </label>
      <ion-checkbox id="selectOrderType-checkbox1">Dry Cleaning</ion-checkbox>
      <ion-checkbox id="selectOrderType-checkbox2">Wash &amp; Iron</ion-checkbox>
      <ion-checkbox id="selectOrderType-checkbox3">Iron only</ion-checkbox>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <div id="selectOrderType-button-bar6" class="button-bar">
        <a ui-sref="menu.scheduleMyPickup" id="selectOrderType-button29" class="button button-positive  button-block">Previous</a>
        <button id="selectOrderType-button30" class="button button-positive  button-block"></button>
        <a ui-sref="addItems" id="selectOrderType-button31" class="button button-positive  button-block">Next</a>
      </div>
    </form>
    <div id="selectOrderType-button-bar5" class="button-bar"></div>
  </ion-content>
</ion-view>